
@import url("./icons.css");

:root {
	font-family: system-ui, sans-serif;
	overflow-wrap: anywhere;
	line-height: 1.5;
	background-color: var(--background);
	color: var(--text);
	-webkit-tap-highlight-color: transparent;
}

@media not print {
	:root[data-theme="dark"] {
		color-scheme: dark;
		--hue: 286deg;
		--chroma: 0.004;
		--background-lightness: 22.3%;
		--text-lightness: 100%;
		--gray-lightness-step: 7%;
		--gray-text-lightness-step: -20%;
		--black-or-white: black;
	}
}

:root {
	color-scheme: light;
	--hue: 286deg;
	--chroma: 0.004;
	--background-lightness: 100%;
	--text-lightness: 0%;
	--gray-lightness-step: -7%;
	--gray-text-lightness-step: 40%;
	--black-or-white: white;
}

:root {
	--background: oklch(var(--background-lightness) var(--chroma) var(--hue));
	--gray-1: oklch(calc(var(--background-lightness) + 1 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-2: oklch(calc(var(--background-lightness) + 2 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-3: oklch(calc(var(--background-lightness) + 3 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-4: oklch(calc(var(--background-lightness) + 4 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-5: oklch(calc(var(--background-lightness) + 5 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	/* --transparent-background: oklch(calc(var(--background-lightness) + 2 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%); */
	/* --transparent-gray-1: oklch(calc(var(--background-lightness) + 4 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%); */
	/* --transparent-gray-2: oklch(calc(var(--background-lightness) + 6 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%); */
	/* --transparent-gray-3: oklch(calc(var(--background-lightness) + 8 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%); */
	--text: oklch(var(--text-lightness) var(--chroma) var(--hue));
	--gray-text: oklch(calc(var(--text-lightness) + var(--gray-text-lightness-step)) var(--chroma) var(--hue));
	/* --separation-border-color: oklch(calc(var(--text-lightness) - 5 * var(--gray-lightness-step)) var(--chroma) var(--hue)); */

	--px: calc(1rem / 16);

	--scrollbar-color: oklch(var(--accent-lightness) var(--accent-chroma) var(--accent-hue));
	--scrollbar-hover-color: oklch(calc(var(--accent-lightness) + 0.1) var(--accent-chroma) var(--accent-hue));
	scrollbar-color: var(--scrollbar-color) transparent;
	/* scroll-behavior: smooth; */
}

body {
	box-sizing: border-box;
	min-block-size: 100dvb;
	margin: 0;
	display: flex;
	flex-direction: column;
}

/* @media screen {
	:root:not([data-theme="light"]) {
		color-scheme: dark;
		--background: oklch(0.223 0.005 286deg);
		--text: oklch(0.913 0.005 286deg);
		--heading: oklch(0.829 0.005 286deg);
		--gray-text: oklch(0.819 0.005 286deg);
		--group-background: color-mix(in srgb, Canvas, CanvasText 10%);
		--highlight-text: black;
		--highlight-background: white;
		--separation-border-color: oklch(0.395 0.014 286deg);
		--separation-border-color: oklch(0.395 0.004 286deg);
	}
}

:root {
	color-scheme: light;
	--group-background: color-mix(in srgb, Canvas, CanvasText 0%);
	--highlight-text: white;
	--highlight-background: black;
} */

@layer global {
	[hidden] {
		display: none !important;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		font-weight: 600;
		letter-spacing: .02em;
		/* word-spacing: .03em; */
		/* color: var(--heading); */
	}

	a {
		color: inherit;
		display: inline-block;
	}

	a:not(:hover) {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
	}

	button, input {
		all: unset;
		display: inline-block;
	}

	input:is([type=checkbox], [type=radio]) {
		appearance: none;
	}

	input[type=search] {
		appearance: textfield;
	}

	::-webkit-search-cancel-button {
		display: none;
	}

	fieldset {
		all: unset;
		display: block;
	}

	button, label, summary {
		cursor: pointer;
	}

	button:focus-visible {
		outline: 1px auto;
	}

	.hide {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	code {
		font-family: ui-monospace, monospace;
	}

	:is(h1, h2, h3, h4, h5, h6, b) {
		font-weight: 700;
	}
}

header {
	position: sticky;
	inset-block-start: 0;
	background-color: color-mix(in srgb, var(--background) 80%, transparent);
	z-index: 1;
	--backdrop-filter: blur(.5rem);
	-webkit-backdrop-filter: var(--backdrop-filter);
	backdrop-filter: var(--backdrop-filter);
}

input[type=search]#searchbox {
	border: 1px solid color-mix(in srgb, Canvas, CanvasText 20%);
	border: 1px solid var(--gray-2);
	padding: .2em .4em;
	font-size: 1.1rem;
	border-radius: .3em;
	display: block;
	inline-size: -moz-available;
	inline-size: -webkit-fill-available;
	inline-size: stretch;
	box-sizing: border-box;
	margin: .5rem;
}

#tabs {
	display: flex;
	flex-wrap: wrap;
	/* padding: .3rem; */
	padding-inline: .5rem;
	/* gap: .3rem; */
}

#tabs > a {
	display: block;
	/* border-radius: .3rem; */
	padding: .3rem .8rem;
	/* border: 1px solid transparent; */
	border-block-start: 1px solid transparent;
	text-decoration: none;
}

#tabs > a:hover {
	background-color: color-mix(in srgb, var(--gray-3) 20%, transparent);
}

:root[data-current-tab="specifications"] #tabs > a[data-tab="specifications"],
:root[data-current-tab="css"] #tabs > a[data-tab="css"],
:root[data-current-tab="javascript"] #tabs > a[data-tab="javascript"] {
	border-block-start-color: var(--text);
	font-weight: 600;
}

#toc {
	padding-inline: .5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .3rem;
	padding-block: .5rem;
	border-block-end: var(--gray-1) solid 1px;
}

ul#toc-list {
	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .3rem; */
	display: contents;
}

ul#toc-list > li > a {
	background-color: var(--gray-1);
	padding: 0em .4em;
	border-radius: .3em;
}

ul#main-list {
	/* display: flex; */
	/* flex-direction: column; */
	/* gap: .7rem; */
	/* padding: .5rem; */
	padding-block-start: .5rem;

	/* background-color: var(--black-or-white); */
	background-color: color-mix(in srgb, var(--gray-1) 20%, var(--black-or-white));
	/* gap: .5rem; */
}

ul#main-list > li {
	display: flex;
	flex-direction: column;
	gap: .3rem;
	/* background-color: var(--group-background); */
	/* border: 1px solid color-mix(in srgb, Canvas, CanvasText 15%); */
	/* border-radius: .7rem; */
	background-color: var(--background);
	border-block: var(--gray-1) solid 1px;
	padding: .7rem;
}

ul#main-list > li:not(:first-of-type) {
	margin-block-start: .5rem;
}

ul#main-list > li:not(:last-of-type) {
	/* border-block-end: var(--gray-2) solid calc(1.1 * (1rem / 16)); */
}

ul#main-list > li:first-of-type {
	/* border-block-start: none; */
}

ul#main-list > li:last-of-type {
	border-block-end: none;
}

ul#main-list > li > .header {
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* column-gap: .5rem; */
	/* align-items: baseline; */
}

ul#main-list > li > .header .group-idenfifier {
	color: var(--gray-text);
	font-size: .9rem;
	margin-inline-start: .1rem;
	/* text-transform: uppercase; */
	/* font-variant: small-caps; */
}

ul#main-list > li > .header h3 {
	display: inline-block;
	scroll-margin-block-start: 4rem;
}

ul#main-list > li > ul {
	/* display: flex; */
	/* flex-direction: column; */
}

ul#main-list > li > ul > li {
	display: flex;
	/* align-items: center; */
	align-items: start;
	/* align-items: first baseline; */
	gap: .5rem;
	--icon-size: 1.1rem;
	/* --line-color: var(--transparent-background); */
	--line-color: var(--gray-1);
}

ul#main-list > li > ul > li:nth-of-type(even) {
	background-color: color-mix(in srgb, var(--background), var(--gray-1));
	--line-color: var(--background);
	--line-color: var(--black-or-white);
}

ul#main-list > li > ul > li:not(:last-of-type) {
	/* border-block-end: 1px solid var(--gray-2); */
	/* border-block-end: 1px solid var(--gray-1); */
	/* border-block-end: 1px solid color-mix(in srgb, var(--gray-1) 20%, var(--black-or-white)); */
}

ul#main-list > li > ul > li > .icon {
	/* align-self: center; */
	margin-block-start: .2rem;
}

ul#main-list > li > ul > li a.spec-link {
	display: flex;
	flex-wrap: wrap;
	column-gap: .5rem;
	align-items: baseline;
	padding-block: .1rem;
}

ul#main-list > li > ul > li .spec-url {
	color: var(--gray-text);
}

ul#main-list > li > ul > li > .container {
	display: flex;
	align-items: first baseline;
	gap: .5rem;
	flex-grow: 1;
}

ul#main-list > li > ul > li > .container > ul {
	flex-grow: 1;
	border-inline-start: 1px solid var(--line-color);
}

ul#main-list > li > ul > li > .container > ul > li {
	flex-grow: 1;
	padding-inline-start: .3rem;
}

ul#main-list > li > ul > li > .container > ul > li > a {
	padding-block: .1rem;
}

ul#main-list > li > ul > li > .container > ul > li .spec-link-hash {
	color: color-mix(in srgb, var(--gray-text) 90%, var(--background))
}

ul#main-list > li > ul > li > .container > ul > li:not(:last-of-type) {
	border-block-end: 1px solid var(--line-color);
}

ul#main-list > li > ul > li > a.repo-link {
	/* margin-inline-start: auto; */
	/* --icon-size: 1.1rem; */
}

ul#main-list > li > ul > li > .disabled {
	--icon-color: var(--gray-3);
}

#theme {
	position: fixed;
	inset-inline-end: 0;
	inset-block-end: 2rem;
	border: 1px solid var(--gray-2);
	border-inline-end: none;
	border-radius: .3rem;
	border-start-end-radius: 0;
	border-end-end-radius: 0;
	background-color: var(--gray-1);
}

#theme #theme-button {
	display: block;
	padding: .4rem;
	--icon-size: 1.25rem;
}

:root[data-theme=light] #theme #theme-button {
	--icon: var(--icon-sun);
}

::highlight(search) {
	color: black;
	background-color: gold;
}
